:root{
  --key-fill: #181818;
  --umbrella-orange: #FFCE73;
  --umbrella-yellow: #FFFF80;
}

@font-face {
  font-display: swap;
  font-family: 'Stroke Input Font';
  src: url('StrokeInputFont.ttf') format('truetype');
}

body {
  background: black;
  color: white;
  font-family: sans-serif;
  margin: 0;
  overflow-wrap: break-word;
  padding: 1em;
}

h1 {
  font-size: 1.6em;
  margin-top: 0.3em;
}

h2 {
  font-size: 1.4em;
  margin-top: 1.5em;
}

html {
  background: var(--key-fill);
  margin: 0 auto;
  max-width: 44em;
}

kbd {
  border: 2px grey solid;
  display: inline-block;
  font-size: 16px;
  margin: 0.1em 0.15em;
  min-width: 1em;
  padding: 0.25em 0.3em;
  text-align: center;
  vertical-align: middle;
  white-space: pre;
}

.candidate-group {
  display: inline-block;
}
.candidate-group dd {
  color: var(--umbrella-orange);
  display: inline;
  margin: 0 1em 0 0.3em;
}
.candidate-group dt {
  display: inline;
}
.candidate-group dt::after {
  content: ':';
}

.candidates-row {
  height: 7em;
  line-height: 1.7;
  vertical-align: baseline;
}
.candidates-row td {
  width: 100%;
}

.controls th, .controls td {
  padding: 0.3em;
}

.disabled {
  color: #FF5E5E;
}

.enabled {
  color: lime;
}

.strokes {
  color: var(--umbrella-yellow);
  font-family: 'Stroke Input Font';
}

#candidates {
  margin: 0;
}

#candidates-pagination {
  display: block;
  text-align: right;
}

#input {
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  height: 12em;
  margin: 0.5em auto;
  width: 100%;
  resize: vertical;
}

#input-container {
  border: 2px solid white;
  padding: 0.3em 0.7em;
  margin: 1.5em 0;
}

#input-container table {
  border-spacing: 0.7em 0.5em;
}
