:root{
  --key-fill: #181818;
  --umbrella-orange: #FFCE73;
  --umbrella-yellow: #FFFF80;
}

body {
  background: black;
  color: white;
  font-family: sans-serif;
  margin: 0;
  overflow-wrap: break-word;
  padding: 1em;
}

html {
  background: var(--key-fill);
  margin: 0 auto;
  max-width: 44em;
}

.candidate-group {
  display: inline-block;
}
.candidate-group dd {
  color: var(--umbrella-orange);
  display: inline;
  margin: 0 1em 0 0.3em;
}
.candidate-group dt {
  display: inline;
}
.candidate-group dt::after {
  content: ':';
}

.candidates-row {
  height: 7em;
  line-height: 1.7;
  vertical-align: baseline;
}
.candidates-row td {
  width: 100%;
}

.disabled {
  color: #FF5E5E;
}

.enabled {
  color: lime;
}

#candidates {
  margin: 0;
}

#candidates-pagination {
  display: block;
  text-align: right;
}

#input {
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  height: 12em;
  margin: 0.5em auto;
  width: 100%;
  resize: vertical;
}

#input-container {
  border: 2px solid white;
  padding: 0.3em 0.7em;
}

#input-container table {
  border-spacing: 1em 0.5em;
  table-layout: fixed;
}
#input-container th {
  width: 7em;
}

#stroke-sequence {
  color: var(--umbrella-yellow);
}
